image: node:14

stages:
    - lint
    - build

# Cache the folder node_modules
cache:
    paths:
        - node_modules/

lint_jobs:
    stage: lint
    script:
        - npm i
        - npm run lint

build_jobs:
    stage: build
    script:
        - npm i
        - npm run build

deploy_beta:
    stage: deploy
    script:
        - npm i
        - npm run build
    #Todo script to deploy
    only:
        - develop

release:
    stage: deploy
    script:
        - npm i
        - npm run build
    #Todo script to release
    only:
        - master
