.title-forward{
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 100px 50px 10px 50px;
}
.title-contain{
  display: flex;
  border-bottom: 4px solid #d8b979;
}
.title-contain-forward{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #D8B979;
  text-align: center;
  margin-right: 10px;
}
.title-contain-notforward{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #333;
}
.title-current{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.number-forward{
  font-size: 20px;
  color:#fff;
}
.number{
  font-size:20px;
  color:#333;
}
.info-customer{
  margin: 0 10px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.content{
  display: flex;
  height: 580px;
  margin: 0 40px;
}
.title{
  font-size: 20px;
  font-weight: 600;
  opacity: 0.45;
}
.address{
  flex: 1;
  margin: 0 10px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
    position:relative;
}
.Input{
  height: 40px;
  margin: 10px 20px;
  position:relative;
}
.input:focus{
  outline-color: #00793f;
}
.input:hover{
  border: 1px solid #00793f;
}
.button-con{
  background-color: #d8b979;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 210px;
  height: 46px;
  cursor: pointer;
  font-size: 18px;
  position:relative;
}
.cost{
  margin: 20px 50px;
  height: 200px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
}
.order-contain{
  margin: 0 50px;
  height: 800px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.title-contain-order{
  display: flex;
  background-color: #e3e3e3;
  justify-content: space-around;
  margin: 10px 50px 0 50px;
  height: 50px;
}
.title-order{
  font-size: 20px;
  color: #333;
  
}
.button-back{
  background-color: #b9fad6;
  border: none;
  color: #8e8b8b;
  border-radius: 5px;
  width: 210px;
  height: 46px;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.form-pay{
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
  0 9px 28px 8px rgb(0 0 0 / 5%);
display: flex;
flex-direction: column;
flex: 1;
position: relative;
height: 300px;
}
.button-change{
  font-size: 18px;
  color: #8e8b8b;
  background-color: #ffe9ab;
  width: 125px;
  height: 46px;
  border: none;
  border-radius: 5px;
  margin-top: 23px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.confirm-order{
  font-size: 28px;
  background-color: #d8b979;
  color: #fff;
  width: 360px;
  height: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pay-ment{
  height: 150px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  margin: 10px 50px 50px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.title-step{
  font-size: 28px;
  font-weight: 600;
}