.auth-form-container-login {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: left;
    background-color: #fff;
    width: 565px;
    height: 480px;
    border-radius: 2px;
    margin: auto;
    margin-top: 185px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    position: relative;
}
.auth-form-container-register {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: left;
    background-color: #fff;
    width: 530px;
    height: 600px;
    border-radius: 2px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    position: relative;
}
.auth-form-container-miss-password {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    padding: 25px;
    background-color: #fff;
    width: 520px;
    height: 400px;
    border-radius: 2px;
    margin: auto;
    margin-top: 185px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    position: relative;
}
.Orange_Button {
    background-color: #eb7100;
    color: #fff;
    border-color: orange;
    padding: 12px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: none;
}
/* Phone-number */
.login,
.register {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
#phone-size,
#pass-word-size {
    font-size: 1.125rem;
    font-weight: 500;
}
#medium-text-icon {
    font-size: 1.125rem;
    font-weight: 500;
}
#medium-text-icon::before {
    content: "*";
    color: red;
    padding: 0 2px 0 0;
}
.logo-number {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 7px;
}
.phone-image {
    width: 22px;
    height: 16px;
    margin-left: 4px;
}
.phone-number-input-logo {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    margin-bottom: 20px;
}
.phone {
    display: flex;
    width: 100%;
}

.title {
    text-align: left;
    font-size: 32px;
    font-weight: 600;
}
.phone-input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    float: left;
    border: 1px solid grey;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 6.5px 11px;
    position: relative;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}
.phone-input:focus {
    outline-color: #00793f;
}
.phone-number-error {
    color: #ff4d4f;
    font-size: 14px;
    width: 100%;
}
/* Password */
.pass-word-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    height: 45px;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    margin: 10px 0;
    overflow: hidden;
}
.pass-word-input:focus-within {
    border-color: red;
}
.pass-word-input-hide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.pass-input {
    width: 85%;
    height: 30px;
    border: none;
    outline: none;
    padding: 4px 11px;
    overflow: hidden;
    font-size: 16px;
}
.pass-input::after {
    content: "";
    visibility: hidden;
    padding: 0 5px;
}
.pass-word-icon {
    color: grey;
    opacity: 0.8;
    margin-right: 15px;
}
.pass-word-icon:hover {
    color: #333;
}
/* Button to forward */
.forward {
    padding-left: 5px;
    color: rgb(235, 113, 0);
    font-size: 16px;
    text-decoration: none;
}
.min-text {
    font-size: 14px;
  }
.min-text-gray{
    color:#787878;
    display: flex;
  }
.medium-text{
    font-size: 16px;
    color:#787878;
    display:flex;
  }
.pass-word{
    margin:15px 0;
  }
  .min-text-block{
    display:block;
    margin:25px 0;
    font-size:14px;
  }
.error{
    width: 100%;
    height: 10px;
  }
.note{
    margin-top:10px;
  }
