.wrapperListOrder {
    opacity: 1;
    transition: all 0.7s linear;
}

.wrapperListOrderHidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
    height: 0 !important;
}

.iconDownListOrder img {
    width: 20px !important;
    height: 20px !important;
}

.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: popUp ease 0.3s;
}

@keyframes popUp {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

.changeQuantity {
    color: #ffffff;
    background: #799dd9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    line-height: 15px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.closeButton:hover {
    transition: all ease 0.2s;
    scale: 1.3;
    opacity: 0.7;
}
